extends layout

block content
    main(class="main", id="main", role="main")
        header.project-header
            .featured-image
                img(src="/img/pique-featured.jpg")
        section.single-project
            .project-details
                h2.project-title #{entry.project.title}
                h3.student #{entry.student.name}
            .project-description
                p Message Box is a context-aware, tangible and digital interface for mobile voicemail. It instantiates incoming messages as physical marbles which can be used to playback their corresponging audio files. A web-based interface provides more fine-grained interaction opportunities.
                p Based on user input and google latitude data Message Box diverts incoming calls, prompting the caller to leave a message if the recipient is busy, or connecting the call if the user is either available or not in the vicinity the box.
                p Message Box is heavily inspired by Durrell Bishop’s Marble Answer Machine.
            section.tags
                each tag in entry.project.tags
                    p.tag #{tag}
        section.about-student
            .about-student-inner
                .student-image
                    img(src="http://placekitten.com/150/150")
                .student-details
                    .whois
                        h2.student-name #{entry.student.name}
                        p.pathway Digital Art &amp; Technology (#{entry.student.pathway})
                    .bio
                        p Irony four loko umami, Echo Park hoodie cardigan PBR Vice tofu pork belly tattooed aesthetic. Actually leggings asymmetrical Etsy lo-fi sartorial.
                    ul.links
                        if entry.student.links.website
                            li
                                a.student-link(href="#{entry.student.links.website}") Portfolio
                        if entry.student.links.twitter
                            li
                                a.student-link(href="#{entry.student.links.twitter}") Twitter





