extends layout

block content
    main(class="main", id="main", role="main")
        header.project-header
            .featured-image(class="#{entry.project.slug}")
        section.single-project
            .project-details
                h2.project-title #{entry.project.title}
                h3.student-name #{entry.student.name}
            .project-description
                !{entry.project.description}
                if entry.project.links.website
                    p
                        span.project-link Source:
                            a(href="#{entry.project.links.website}")  #{entry.project.title}
                iframe(class="trailer", src="http://player.vimeo.com/video/#{entry.project.vimeoID}?title=0&byline=0&portrait=0&color=bf9d3e", width="700", height="394", frameborder="0", webkitAllowFullScreen, mozallowfullscreen, allowFullScreen)
            section.tags
                p Tags: 
                    each tag, i in entry.project.tags
                        span.tag #{tag}
                        if i != entry.project.tags.length - 1
                            | , 
                        else
                            | .
        section.about-student
            .about-student-inner
                .student-image
                    img(src="/img/#{entry.student.slug}.jpg", width="150", height="150");
                .student-details
                    .whois
                        h2.student-name #{entry.student.name}
                        p.course #{entry.student.course}
                    if entry.student.links.website || entry.student.links.twitter
                        ul.links
                            if entry.student.links.website
                                li
                                    a.student-link(href="#{entry.student.links.website}") Portfolio
                            if entry.student.links.twitter
                                li
                                    a.student-link(href="#{entry.student.links.twitter}") Twitter
