extends layout

block content
    main(class="main", id="main", role="main")
        header.project-header
            .featured-image
                img(src="/img/pique-featured.jpg")
        section.single-project
            .project-details
                h2.project-title #{entry.project.title}
                h3.student #{entry.student.name}
            .project-description
                !{entry.project.description}
            section.tags
                p Tags:
                    each tag, i in entry.project.tags
                        span.tag #{tag}
                        if i != entry.project.tags.length - 1
                            | ,
                        else
                            | .
        section.about-student
            .about-student-inner
                .student-image
                    img(src="http://placekitten.com/150/150")
                .student-details
                    .whois
                        h2.student-name #{entry.student.name}
                        p.pathway Digital Art &amp; Technology (#{entry.student.pathway})
                    .bio
                        p !{entry.student.bio}
                    ul.links
                        if entry.student.links.website
                            li
                                a.student-link(href="#{entry.student.links.website}") Portfolio
                        if entry.student.links.twitter
                            li
                                a.student-link(href="#{entry.student.links.twitter}") Twitter





