extends layout

block content
    main(class="main", id="main", role="main")
        section.projects
            .projects-inner
                each entry in entries
                    article.project
                        .project-image
                            a(href="projects/#{entry.project.slug}")
                                img(src="/img/#{entry.project.slug}.jpg", width="200", height="200")
                                img.sequence(src="/img/#{entry.student.slug}-sequence.jpg", data-frames="#{entry.student.frames}", width="#{(entry.student.frames)*215}", height="200")
                        .project-details
                            h3.project-title #{entry.project.title}
                            p.student #{entry.student.name}